body{
    margin: 0%;
    padding: 0%;
    background-color: yellow;
}
h1{
    color: red;
    font-size: xx-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
}
img{
    width: 40%;
    height: 90%;
    
    
}